
<div class="small-12 large-9 grid-content feeds">
  <div class="grid-block small-up-1 medium-up-2 large-up-3">
    <div class="small-8 grid-content">
          <label for="#">Username</label>
          <p class="white-acc">
            JohnSmith89
          </p>
    </div>
    <div class="small-4 grid-content">
          <button class="button change-btn">Change</button>
    </div>
    <div class="small-8 grid-content">
          <label for="#">Password</label>
          <p class="white-acc">
            *********
          </p>
    </div>
    <div class="small-4 grid-content">
          <button class="button change-btn">Change</button>
    </div>
    <div class="small-8 grid-content">
          <label for="#">Push Notifications</label>
          <p class="white-acc">
            Will pop up on home screen
          </p>
    </div>
    <div class="small-4 grid-content">
      <div class="switch">
        <input type="checkbox" id="switch-example">
        <label for="switch-example"></label>
      </div>
    </div>
    <div class="small-4 grid-content">
    	&nbsp;
    </div>
    <div class="small-4 grid-content">
    	<button class="button change-btn">Save</button>
    </div>
    <div class="small-4 grid-content">
    	&nbsp;
    </div>
    </div>
  </div>
</div>