
<div class="small-12 large-9 grid-content feeds">
  <div class="grid-block small-up-1 medium-up-2 large-up-3">
    <div class="small-8 grid-content">
          <label for="#">Enable Settings</label>
          <p class="white-acc">
            Turn On/Off Product Preferences
          </p>
    </div>
    <div class="small-4 grid-content">
      <div class="switch">
        <input type="checkbox" id="switch-example">
        <label for="switch-example"></label>
      </div>
    </div>
    <div class="small-8 grid-content">
          <label for="#">Max Price</label>
          <p class="white-acc">
            Tap to Slide
          </p>
    </div>
    <div class="small-4 grid-content">
          <input type="range">
    </div>
    <div class="small-8 grid-content">
          <label for="#">Favourite Colour</label>
          <p class="white-acc">
            Red
          </p>
    </div>
    <div class="small-4 grid-content">
      <button class="button change-btn">Change</button>
    </div>
    <div class="small-4 grid-content">
    	&nbsp;
    </div>
    <div class="small-4 grid-content">
    	<button class="button change-btn">Save</button>
    </div>
    <div class="small-4 grid-content">
    	&nbsp;
    </div>
    </div>
  </div>
</div>