
<style>
  input{
    text-transform: uppercase;
  }
  .center{
    text-align: center;
  }
    .button {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    font-weight: 600;
  }
    .signup{
    background:#79bfb4;
    color:#fff;
  }
</style>

<div class="small-12 large-9 grid-content feeds">
  <div class="grid-block small-up-1 medium-up-2 large-up-3">
    <div class="small-12 grid-content">
      <input type="text" placeholder="JOHNSMITH89@MYMAIL.COM">
      <h2 class="center">By signing up you agree to:</h2>
      <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, illo odio, consectetur nulla laudantium delectus accusamus. Blanditiis aperiam possimus commodi obcaecati, eaque perferendis maiores, sit eum quia consectetur, alias numquam.</p>
      <br>
      <button class="button signup expand">CHANGE EMAIL ADDRESS</button>
    </div>
  </div>
</div>