
<style>
  .menu-bar{
    display:none;
  }
  .can-hide{
    display:none;
  }
  p{
    font-size:11px;
    text-align:center;
    margin-top:100px;
  }
  .button {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    font-weight: 600;
  }

  .signin{
    background:#fff;
    color:#333;
  }

  .signup{
    background:#79bfb4;
    color:#fff;
  }
  .fa-user, .fa-lock{
    position: absolute;
font-size: 30px;
border-right: 1px solid #fff;
padding-right: 10px;
padding-left: 10px;
  }
  [type="text"]{
    padding: 6px 52px;
  }
  .fa-lock{
    font-size: 37px;
  }
</style>

<div class="small-12 large-9 grid-content feeds">
  <div class="grid-block small-up-1 medium-up-2 large-up-3">
    <div class="small-12 grid-content">
      <img src="/images/logo.svg" id="logo-inline" alt="">
    </div>
    <div class="small-12 grid-content">
      <p>ENTER YOUR USERNAME AND PASSWORD</p>
      <label for="name"><i class="fa fa-user"></i></label>
      <input type="text" id="name">
      <br>
      <label for="name"><i class="fa fa-lock"></i></label>
      <input type="text" id="name">
      <button class="button expand signup">Login</button>
    </div>
  </div>
</div>