
<style>
  .menu-bar{
    display:none;
  }
  .can-hide{
    display:none;
  }
  p{
    font-size:11px;
    text-align:center;
    margin-top:100px;
  }
  .button {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    font-weight: 600;
  }

  .signin{
    background:#fff;
    color:#333;
  }

  .signup{
    background:#79bfb4;
    color:#fff;
  }
</style>

<div class="small-12 large-9 grid-content feeds">
  <div class="grid-block small-up-1 medium-up-2 large-up-3">
    <div class="small-12 grid-content">
      <img src="/images/logo.svg" id="logo-inline" alt="">
    </div>
    <div class="small-12 grid-content">
      <p>PLEASE LOGIN OR REGISTER TO CONTINUE</p>
      <button class="button expand signin">Sign In</button>
      <button class="button expand signup">Sign Up</button>
    </div>
  </div>
</div>